header {
    background: crimson;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2vw;
}

header .logo {
    font-weight: bold;
    font-size: 1.2rem;
}

header .links {
    list-style-type: none;
}

header a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    background: whitesmoke;
    color: #2f2f2f;
}

header a:first-of-type {
    background: #2f2f2f;
    color: whitesmoke;
}